<!-- OG -->
<meta property="og:type" content="profile">
<meta property="og:title" content="{{ $.Site.Params.title }}">
<meta property="og:url" content="{{ $.Site.BaseURL }}">
<meta property="og:image" content="{{ "/images/profile-image.png" | absURL }}">
<meta property="profile:first_name" content="{{ $.Site.Params.first_name }}">
<meta property="profile:last_name" content="{{ $.Site.Params.last_name }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@marcocot">
<meta name="twitter:title" content="{{ $.Site.Params.title }}">
<meta name="twitter:description" content="{{ $.Site.Params.Description }} {{ $.Site.Params.profile.description }}">


